body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

svg:active {
  cursor: move;
}

svg .danger {
  fill: red;
}

.sidebar {
  width: 300px;
  min-height: 100px;
  z-index: 1030;
  position: fixed;
  top: 20%;
}
.sidebar.left { left: 10px; }
.sidebar.right { right: 10px; }

.sidebox {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin: 0.8em 0;
  padding: 0.5em;
  padding-bottom: 0;
}

.sidebox > h2 {
  margin-top: 0;
}

.sidebox .clear {
  padding: 0.5em;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

#current-concept .clear p {
  margin: 0;
}

#current-concept {
  padding-bottom: 0.5em;
}

.goals > li {
  margin-bottom: 0.5em;
  cursor: pointer;
}

.goals > li > h3 {
  margin: 3px 0;
}

.goals > li > p {
  margin: 0;
}

.goals > li       > h3 > i { display: none; }
.goals > li:hover > h3 > i { display: inline; }
